@import 'core/reset';
// @import 'core/variables';
// @import 'layout/header';

// @import 'layout/footer';

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.title {
  color: orange;
  font-size: 40px;
  padding: 50px;
}
.main {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 50px;
}
.fav__section {
  width: 20%;
  background-color: aqua;
}
.list__section {
  background-color: burlywood;
  width: 100vw;
  display: inline;
}
.footer {
  text-align: center;
}
.img {
  width: 100px;
}
.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px;
}
.fav__title {
  text-align: center;
  font-size: 30px;
  padding: 30px;
}
.article {
  display: flex;
  color: black;
  gap: 10px;
}
