@import 'core/reset';
// @import 'core/variables';
// @import 'layout/header';

// @import 'layout/footer';

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.title {
  color: orange;
  font-size: 40px;
  padding: 50px;
}
.main {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  padding: 50px;
}
.fav__section {
  width: 20vw;
}
.footer {
  text-align: center;
}
.img {
  width: 100px;
}
.list {
  grid: 1fr 1fr 1fr;
}
